---
import { exhibition } from "@data/exhibition";
---

<section class="curator" id="curator-statement" aria-labelledby="curator-title">
  <div class="section-kicker">Curator's Statement / 策展人导言</div>
  <div class="curator__grid">
    <h2 id="curator-title">谁拿着相机，谁拥有说明权？</h2>
    <p>{exhibition.statement}</p>
  </div>
</section>
